{# index.twig #}
{% extends "layouts/_main.twig" %}

{% block page %}
    <header>
        <h1>Hello From Twig</h1>
    </header>
    {% include "partials/_message.twig" %}
    <p>
        Twig.js is a pure JavaScript implementation of the Twig PHP templating language.
    </p>
{% endblock %}